<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Car Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Car Catalog</h1>
    {{if .}}
    <h2>Recommended for you</h2>
    <div style="border: 2px solid #ffb300; padding: 5px;">
        <div style="display: flex; flex-wrap: wrap;">
        {{range .}}
        <figure>
            <a href="/list?q={{.Name}}&field=model">
                <img src="{{.Image}}" alt="{{.Name}}" width="150" height="150" style="margin:10px;">
            </a>
        </figure>
        {{end}}
    </div>
</div>
{{end}}
    <p>Explore our collection of cars from various manufacturers.</p>
    <p>Use the search box below to find specific models:</p>
    <form action="/list" method="GET">
        <label for="searchField">Search by:</label>
        <select id="searchField" name="field">
            <option value="model">Model Name</option>
            <option value="manufacturer">Manufacturer</option>
            <option value="category">Category</option>
        </select>
        <input type="text" id="search" name="q" placeholder="Enter search query">
        <button type="submit" class="button"><strong>Search</strong></button>
    </form>
    <p>Or click below to explore all cars:</p>
    <a href="/list" class="button"><strong>Explore All Cars</strong></a>
    <p>Or click below to explore all manufacturers:</p>
    <a href="/manufacturer" class="button"><strong>Explore All Manufacturers</strong></a>
</body>
</html>
